<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Criar Organização</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

</head>

<body>

    {% include "header.jinja2" %}

    <div class="container mb-4">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="display-5 text-left">Criar Organização</h1>
        </div>
    </div>

    <hr style="color=rgb(192,192,192)">
    <div style="height:50px"></div>

    <div class="container">

        <div class="container mb-4">
            <form id="OrganizationForm">
                <div class="form-row mb-2">
                    <div class="form-group col-md-6">
                        <label>Nome da Organização</label><br />
                        <input id="Name" class="form-control" type="text" value=""><br />
                    </div>
                    <div class="form-group col-md-6">
                        <label>Site da Organização</label><br />
                        <input id="WebSite" class="form-control" type="url" value=""><br />
                    </div>
                </div>
                <div class="form-row mb-2">
                    <div class="form-group col-md-12">
                        <label>Descrição da Organização</label><br />
                        <textarea id="ShortDescription" class="form-control" style="height: 150px;"
                            name="ShortDescription"></textarea><br />
                    </div>
                </div>

                <div class="form-row mb-2">
                    <div class="form-group col-md-6">
                        <label>País da Organização</label>
                        <select class="custom-select" id="Country">
                            <option value="" selected></option>
                            {% for country in countries %}
                            <option value="{{country}}">{{country}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Estado da Organização</label>
                        <select class="custom-select" id="FederationUnity">
                            <option value="" selected></option>
                            {% for federation_unity in federation_unities %}
                            <option value="{{federation_unity}}">{{federation_unity}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
                <div class="form-row mb-2">
                    <div class="form-group col-md-12">
                        <label>Aba da Organização</label>
                        <select class="custom-select" id="Tab">
                            <option value="" selected></option>
                            {% for tab in tabs %}
                            <option value="{{tab.TabId}}">{{tab.Name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-row mb-4">
                        <div id="CheckboxContainer" class="form-group col-md-12">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6"></div>
                    <div class="form-group col-md-6 d-flex flex-row-reverse">
                        <button class="btn btn-secondary btn-lg" type="submit">Criar Organização</button>
                    </div>
                </div>
            </form>

        </div>

        <div style="height: 150px;">
        </div>

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- bloqueia menu de estado caso país não seja Brasil -->
        <script>
            // Referências aos elementos select
            const Country = document.getElementById("Country");
            const FederationUnity = document.getElementById("FederationUnity");

            // Adiciona um ouvinte de evento para detectar mudanças em select1
            Country.addEventListener("change", function () {
                // Verifica se a opção selecionada não é "Brasil"
                if (Country.value !== "Brasil") {
                    // Desabilita select2
                    FederationUnity.disabled = true;
                } else {
                    // Habilita select2
                    FederationUnity.disabled = false;
                }
            });
        </script>

        <!-- envia forms -->
        <script>
            $(document).ready(function () {
                $("#OrganizationForm").submit(function (event) {
                    event.preventDefault();
                    const Name = $("#Name").val();
                    const WebSite = $("#WebSite").val();
                    const ShortDescription = $("#ShortDescription").val();
                    const Country = $("#Country").val();
                    const FederationUnity = $("#FederationUnity").val();
                    // Obtém os valores dos checkboxes marcados no grupo "Type"
                    const Type = [];
                    $("#CheckboxContainer input[name='Type']:checked").each(function () {
                        Type.push($(this).val());
                    });

                    const data = {
                        Name,
                        WebSite,
                        ShortDescription,
                        Country,
                        FederationUnity,
                        Type
                    };
                    console.log(data);

                    $.ajax({
                        url: "/execute/crate_organization",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(data),
                        success: function (response) {
                            console.log("Success: Data updated successfully");
                            alert("Organização editada com sucesso!");
                            window.location.href = "/portal/0";
                        },
                        error: function (error) {
                            console.log("Error", error.statusText);
                        }
                    })
                })
            })
        </script>

        <!-- recebe types -->

        <script>
            $(document).ready(function () {
                $("#Tab").change(function () {
                    if ($(this).val() !== "") {
                        const data = {
                            TabId: $(this).val()
                        };

                        $.ajax({
                            url: '/execute/get_types',
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(data),
                            success: function (response) {
                                // Limpa o conteúdo existente dentro do elemento com id "CheckboxContainer"
                                $("#CheckboxContainer").empty();

                                // Cria um rótulo para o grupo de checkboxes
                                var groupLabel = $('<label>').text('Tipos da Organização:');

                                // Adiciona o rótulo ao container
                                $("#CheckboxContainer").append(groupLabel);

                                // Itera sobre os dados do JSON e cria um checkbox para cada valor
                                $.each(response, function (index, value) {
                                    var checkboxDiv = $('<div class="form-check">');

                                    var checkbox = $('<input>').attr({
                                        type: 'checkbox',
                                        class: 'form-check-input',
                                        id: value.TypeId,
                                        name: 'Type',
                                        value: value.TypeId
                                    });

                                    var checkboxLabel = $('<label class="form-check-label">').text(value.TypeName);

                                    checkboxDiv.append(checkbox, checkboxLabel);

                                    // Adiciona o checkbox ao elemento com id "CheckboxContainer"
                                    $("#CheckboxContainer").append(checkboxDiv);
                                });
                            },
                            error: function (error) {
                                console.error('Erro:', error);
                            }
                        });
                    }
                });
            });


        </script>



</body>

</html>