<nav class="navbar navbar-light bg-light mb-5">
  <a class="navbar-brand" href="/">
    <img src="http://localhost:5000/static/settings.png" width="30" height="30" class="d-inline-block align-top mr-2"
      alt="">
    Inova Controller
  </a>
</nav>