<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <title>Inova Controller</title>
</head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

<style>
  p {
    text-align: justify;
    text-indent: 20px;
  }
</style>

<body>
  <div class="container">
    <h1>Inova Controller</h1>
    <p>
      Sistema de gestão de conteúdo para o <a href="https://inova.ufpr.br/" target="_blank"
        rel="noopener noreferrer">website</a>
      do programa de extensão Inovação e Desenvolvimento Territorial da <a href="https://ufpr.br/" target="_blank"
        rel="noopener noreferrer">Universidade Federal do Paraná.</a>
    </p>
  </div>

  <div class="container">
    <a href="/portal" class="btn btn-primary" role="button" data-bs-toggle="button">Portal de Inovação</a>
    <a href="/descomplica" class="btn btn-primary" role="button" data-bs-toggle="button">Gestão Descomplicada</a>
  </div>

</body>

</html>