<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Portal de Inovação</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>

<body>

    {% include "header.html" %}

    <div class="d-flex justify-content-around align-items-center mb-5">
        <h1 class="display-5 text-left">Portal de Inovação</h1>

        <div class="d-flex justify-content-end">
            <select class="form-select mr-2" style="height: 30px"
                onchange="window.location.href = '/portal/' + this.value;">
                <option value="0" {% if tab_selected|string=="0" %}selected{% endif %}>Todas Organizações</option>
                {% for tab in tabs %}
                <option value="{{tab.TabId}}" {% if tab_selected|string==tab.TabId|string %}selected{% endif %}>
                    {{tab.Name}}
                </option>
                {% endfor %}
            </select>

            <p><b>Total de organizações:</b> {{count_organizations}}</p>
        </div>
    </div>

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Organização</th>
                    <th scope="col">País</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Categoria</th>
                </tr>
            </thead>

            <tbody>
                {% for organization in organizations %}
                <tr>
                    <td scope="row">
                        <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{organization.ShortDescription}}">
                            <a href={{organization.WebSite}} target="_blank"
                                rel="noopener noreferrer">{{organization.Name}}</a>
                        </span>
                    </td>
                    <td>{{organization.Country}}</td>
                    <td>{{organization.FederationUnity}}</td>
                    <td>{{organization.Types}}</td>
                </tr>
                {% endfor %}
            </tbody>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
</body>